@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Anish's intro page";
}

<h3>Anish Acharya</h3>

<form>
    <div class="form-group">
        <label for="number1">Number 1</label>
        <input type="number" class="form-control" id="number1" name="number1" />
    </div>
    <div class="form-group">
        <label for="number2">Number 2</label>
        <input type="number" class="form-control" id="number2" name="number2" />
    </div>
    <div class="form-group">
        <label for="result">result</label>
        <input type="number" class="form-control" id="result" name="result" />
    </div>
    <button type="submit" class="btn-default">Calculate</button>
</form>

@section MySection{
    <p>Yeaaa... Welcome to my .NET web application.</p>
}

<p>This is my intro page. </p>